@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author: Alex A. Somoza
    Date: 11-30-18        
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/
/* html styles */
html {
    background-image: url("jb_back3.png");
    background-size: cover;
}

/* body styles */


body {
    background-color: hsla(178, 87%, 62%, .69);
    width: 90%;
    margin: 0px auto;


}

body:after {
    content: "";
    display: table;
    clear: both;

}


article {
    background-color: rgba(3, 176, 215, 0.8);
    float: left;
    display: inline-block;
    width: 50%;
}

article p {
    display: -webkit-flex;
    display: flex;
    margin: 20px 5px;


}

aside {
    background-color: rgba(15, 194, 234, 0.8);
    margin: 5px 10px;
    display: inline-block;
    width: 47%;
}

dt,
dl,
dd,
h3 {
    margin-left: 7px;
}


/* nav styles */
nav#horizontal {
    min-height: 2em;
}

nav#horizontal li {
    display: block
}

nav#horizontal a {
    color: whitesmoke;
    display: block;
}

nav#horizontal ul.mainmenu>li>a {
    display: inline;
    color: whitesmoke;

}

ul.mainmenu {
    padding: 0px;
    display: block;
    width: 100%;

}


ul.submenu {
    display: none;
    background-color: rgba(3, 176, 215, 0.8);
    width: 200%;
    box-shadow: rgb(51, 51, 51) 5px 5px 15px;
    position: absolute;
}

a.subtitle:hover+ul.submenu,
ul.submenu:hover {
    display: block;
}



ul.mainmenu>li {

    background-color: rgba(2, 140, 171, 0.8);

    float: left;
    width: 16.65%;
    position: relative;
}

ul.submenu>li {
    line-height: 30px;
}

ul.submenu>li>a {
    text-shadow: black 5px 5px 3px;
}

/* br styles */


/* mobile styles [0px-480px] */
@media only screen and (max-width: 480px) {
    body {
        width: 100%;
        height: 100%;
    }

    aside {
        display: none;
    }

    article {
        width: 89%;
        margin: 5px 10px;
    }
}